.subscribe  {
    border-bottom: 1px dashed $gray;
    border-top: 1px dashed $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 8px 18px 8px 66px;
    background: url('../assets/icons/mail-icon.svg') 18px 10px no-repeat;

    & > :nth-child(n),
    &__form > :nth-child(n) {
        margin-left: 18px;
    }

    & > :first-child, 
    &__form > :first-child {
        margin-left: 0;
    }

    &__button, 
    &__input-text {
        font: normal 10px Arial;
        padding: 5px 0;
    }

    &__text {
        font: normal italic 14px Arial;
        line-height: 16px;
        flex: 1;
    }

    &__button {
        background: $shadow-button;
        border: 1px solid $gray;
        border-radius: 2px;
        width: 80px;
    }

    &__input-text {
        border: 1px solid $gray;
        border-radius: 0;
        padding-left: 6px;
        width: 152px;
    }

    &__form {
        display: flex;
    }

    &__input-text::placeholder { 
        color: $gray;
        opacity: 1;
    }

    @include _768 {
        flex-direction: column;
        padding: 8px 18px 0 18px;
        
        &__text {
            padding-left: 48px;
        }

        & > :nth-child(n) {
            margin-left: 0;
            margin-bottom: 15px;
        }

        &__form > :nth-child(n) {
            margin-left: 36px;
        }
         
        &__form > :first-child {
            margin-left: 0;
        }

        &__form {
            width: 100%;
        }

        &__input-text {
            flex: 1;
        }

        &__text {
            flex: none;
            width: 90%;
        }
    }

    @include _480 {
        flex-direction: column;
        padding-right: 10%;

        &__input-text {
            max-width: 211px;
            width: 100%;
        }
    }
}