.tab-container {
    cursor: pointer;
    display: flex;

    @include _768 {
        display: none;
    }
}

.tab {
    background: $light-teal;
    padding: 26px 0 22px 20px;
    width: 100%;

    &__title, 
    &__subtitle {
        color: $teal;
    }

    &__subtitle {   
        font: normal italic 10px Arial;
        line-height: 19px;
    }

    &__title {
        font: normal 18px Arial;
    }

    &:hover {
        background-color: $gray-teal;
    }

    @include _1176 {
        font-size: 14px;
        padding: 10px 0;
        text-align: center;

        &__subtitle {
            display: none;
        }
    }
}