.navigation-wrapper {
    display: flex;
    width: 280px;
    padding-right: 7px;
    box-sizing: border-box;
    background-color: rgba(37, 39, 42, 0.9);
}

.navigation {
    @include flex(column);
    @include font-source(14px, normal, #B5B5B5);
    @include margin('', bottom, 10px);

    width: 100%;
    padding: 35px 25px 15px;
    box-sizing: border-box;
    overflow: auto;
}

.nomad-wrapper {
    @include flex(('j-c':space-between));

    margin-bottom: 30px;
}

.nomad-list {
    flex: 1;
}

.nomad-btn {
    @include flex(('a-i':center));
    @include font-source(20px, bold, #fff);

    background-color: transparent;
    margin-bottom: 30px;
}

.list-open > span {
    background: url('../../../assets/icons/list-close.svg') 100% no-repeat;
    width: 12px;
    height: 8px;
    display: block;
    padding-left: 15px;
}

.settings {
    background: url('../../../assets/icons/settings.svg') no-repeat;
    width: 17px;
    height: 17px;
    margin: 5px 0;
}

.list-item {
    padding-left: 30px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.all-treads {
    background-image: url('../../../assets/icons/all-treads.svg');
}