@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/sf-ui-text/SFUIText-Regular.ttf');
}

