.app-wrapper {
    padding: 60px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(115.67deg, #EDC1D3 7.14%, #91BDEC 99.42%);
    box-sizing: border-box;
}

.app {
    @include margin('', bottom, 20px, true);

    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
}
