* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: monospace;
    font-size: 20px;
}

.wrapper-game {
    width: 100vw;
    height: 100vh;
    background-color: #2c2b2b;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header__title {
    color: #fff;
    font-size: 30px;
}

.main {
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > :nth-child(n) {
    margin-bottom: 20px;
}

.start {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.field-wrapper {
    background-color: #000;
    width: 800px;
    height: 500px;
    pointer-events: none;
}

.field {
    display: flex;
    width: 100%;
    height: 100%;
}

.field > :last-child {
    border-left: 8px dashed #fff;
    flex-direction: row-reverse;
}

.field__area {
    width: 100%;
    padding: 10px;
    display: flex;
}

.ball {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.score {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}

.player {
    width: 20px;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    pointer-events: all;
}

.player:hover,
.start {
    cursor: pointer;
}

