@import url('base.css');

.wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper_size {
    width: 1080px;
    margin: 45px auto 0;
}

/* aside aside-menu*/

.wrapper, .aside, .menu, .menu__link, .link-logo {
    display: flex;
}

.menu, .aside {
    flex-direction: column;
}

.aside_size {
    width: 140px;
}

.menu__link, .tab__title, .tab__subtitle, .card__title, .card__link, .footer__link {
    color: #34ACA7;
}

.aside {
    height: fit-content;
}

.link-logo {
    justify-content: center;
}

.link-logo_size {
    width: fit-content;
    margin: auto;
}

.link-tastemakers {
    background: url('assets/food-icon.svg') 0 50% no-repeat;
}

.link-blog {
    background: url('assets/blog-icon.svg') 0 50% no-repeat;
}

.link-list {
    background: url('assets/a-list-icon.svg') 0 50% no-repeat;
}

.link-camera {
    background: url('assets/camera-icon.svg') 0 50% no-repeat;
}

.link-about {
    background: url('assets/about-icon.svg') 0 50% no-repeat;
}

.menu__link {
    font: normal italic 14px Arial;
    line-height: 14px;
    align-items: center;
}

.menu__link_size {
    width: fit-content; 
    min-height: 32px;
    padding-left: 40px;
    margin: 5px 0 29px 3px;
}

/* tweet__item */

.tweet__title {
    font: normal 12px Verdana;
    line-height: 12px;
    text-transform: uppercase;
    border-bottom: 1px dashed #E5E5E5;
    color: #000000;
    padding: 5px 0;
    margin-bottom: 9px;
}

.tweet__title_shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tweet__button {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 8px 5px 8px 29px;
    font-size: 10px;
    line-height: 12px;
    background-color:	#FFF;
    background: url('assets/twitter-icon.svg') 7px 50% no-repeat;
    font: normal italic 10px Arial;
    color: #34ACA7;
    text-align: left;
}

.tweet__text, .tab__subtitle {   
    font: normal italic 10px Arial;
    line-height: 19px;
}

.tweet__text {
    color: #000;
    margin-bottom: 15px;
}

/* main */

.banner__text, .tab-container, .subscribe__form, .subscribe, .card-container, .card  {
    display: flex;
}

.main {
    width: 896px;
    margin-bottom: 26px;
}

.banner {
    background: url('assets/baner.svg') no-repeat;
    width: 100%;
    height: 444px;
    position: relative;
    font: normal italic  10px Arial;
}

.banner__text {
    flex-direction: column;
    position: absolute;
    bottom: 70px;
}

.banner__title, .banner__subtitle, .subscribe__button, .subscribe__input-text {
    box-sizing: border-box;
}

.banner__title, .banner__subtitle {
    padding: 14px 24px;
    width: fit-content;
}

.banner__title {
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000;
    background: #FFFFFF;
}

.banner__subtitle {
    background: #000;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

/* tab-container */

button, .tab-container {
    cursor: pointer;
}

.tab-container, .subscribe {
    margin-bottom: 30px;
}

.tab {
    width: 100%;
    padding: 26px 0 22px 20px;
    background: #EFF8F7;
}

.tab__title {
    font: normal 18px Arial;
    line-height: 18px;
}

.tab:hover {
    background: #D9EFEC;
}

/* subscribe */

.subscribe {
    padding: 8px 18px 8px 50px;
    border-bottom: 1px dashed #E5E5E5;
    border-top: 1px dashed #E5E5E5;
    align-items: center;
    justify-content: space-between;
    background: url(assets/mail-icon.svg) 1% 50% no-repeat;
}

.subscribe__text {
    font: normal italic 14px Arial;
    line-height: 16px;
    color: #000000;
    width: 530px;
}

.subscribe__button, .subscribe__input-text {
    padding: 5px 0;
    font: normal 10px Arial;
    line-height: 10px;
}

.subscribe__button {
    width: 80px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
}

.subscribe__input-text {
    width: 160px;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    padding-left: 6px;
}

.subscribe__form :not(.subscribe__form :first-child){
    margin-left: 18px; 
}

/* card-container */

.card-container {
    flex-wrap: wrap;
}

.card-container, .card {
    justify-content: space-between;
    height: fit-content;
}

.card {
    width: min-content;
    flex-direction: column;
}

.card > :not(.card :last-child) {
    margin-bottom: 10px;
}

.card__img {
    border: 1px solid #E5E5E5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    display: block;
    width: 205px;
    height: 141px;
}

.card {
    font: normal 14px Arial;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card-container .card .card__title {
    font-size: 16px;
    line-height: 21px;
}

.card__date {
    color: #E5E5E5;
}

.card .card__link:hover {
    color: rgb(51, 192, 114);
}

/* footer */

.footer {
    box-sizing: border-box;
    border-top: 2px solid #E5E5E5;;
    width: 100%;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 33px;
}


.footer__nav, .footer__icons {
    flex-wrap: wrap;
}

.footer__info > :not(.footer__info :first-child) {
    margin-top: 5px;
} 

.footer__info, .footer__link, .footer__copyright {
    font: normal 12px Arial;
    line-height: 12px;
    letter-spacing: -0.02em;
}

.footer__info {
    color: #E5E5E5;
}

.footer__nav, .footer__icons, .footer {
    display: flex;
}
 
.footer__nav :not(.footer__nav :first-child) {
    background: url('assets/separator.svg') no-repeat;
}

.footer__link {
    margin: 0 4px;
}

.footer-fb, .footer-twitter, .footer-rss {
    width: 32px;
    height: 32px;
    margin: 0 2px;
}

.footer-twitter {
    background: url('assets/twitter-icon-footer.svg');
}
.footer-fb {
    background: url('assets/fb-icon.svg');
}

.footer-rss {
    background: url('assets/rss-icon.svg');
}

.footer-twitter:hover {
    background: url('assets/twitter-icon-black.svg');
}
.footer-fb:hover {
    background: url('assets/fb-icon-black.svg');
}

.footer-rss:hover {
    background: url('assets/rss-icon-black.svg');
}

