.subscribe__form, .subscribe  {
    display: flex;
}

.subscribe {
    margin-bottom: 30px;
    padding: 8px 18px 8px 66px;
    border-bottom: 1px dashed #E5E5E5;
    border-top: 1px dashed #E5E5E5;
    align-items: center;
    justify-content: space-between;
    background: url('../../assets/icons/mail-icon.svg') 18px 10px no-repeat;
}

.subscribe > :not(.subscribe :first-child) {
    margin-left: 18px;
}

.subscribe__text {
    font: normal italic 14px Arial;
    line-height: 16px;
}

.subscribe__button, .subscribe__input-text {
    padding: 5px 0;
    font: normal 10px Arial;
}

.subscribe__button {
    width: 80px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.subscribe__input-text {
    width: 152px;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    padding-left: 6px;
}

.subscribe__form :not(.subscribe__form :first-child){
    margin-left: 18px; 
}

@media screen and (max-width: 768px) {
    .subscribe {
        flex-direction: column;
        padding: 8px 18px 0 18px;
    }

    .subscribe__text {
        padding-left: 48px;
    }

    .subscribe > :not(.subscribe :first-child) {
        margin-left: 0;
    }

    .subscribe__form :not(.subscribe__form :first-child) {
        margin-left: 36px;
    }

    .subscribe__form {
        width: 100%;
    }

    .subscribe__input-text {
        flex: 1;
    }
    
    .subscribe :nth-child(n) {
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 480px) {
    .subscribe {
        flex-direction: column;
        padding-right: 47px;
    }

    .subscribe__input-text {
        max-width: 211px;
        width: 100%;
    }
}