.header {
    @include margin('', bottom, 10px, true, true);
    display: flex;
    flex-direction: column;
    width: 140px;

    @include mediaQueries($large) {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
        width: 100%;

        & > :nth-child(n) {
            margin: auto 0;
        }
    }

    @include mediaQueries($small) {
        align-items: center;
        flex-direction: column-reverse;
        padding: 0;

        & > :first-child {
            margin-bottom: 30px;
        }
    }
}