.header {
    @include margin('', bottom, 10px, true, true);
    @include flex(column);
    width: 140px;

    @include mediaQueries($large) {
        @include flex('row', ('j-c':'space-between'));
        padding: 20px 0;
        width: 100%;

        & > :nth-child(n) {
            margin: auto 0;
        }
    }

    @include mediaQueries($small) {
        @include flex(column-reverse);
        padding: 0;

        & > :first-child {
            margin-bottom: 30px;
        }
    }
}