.navigation {
    width: 100%;

    @include mediaQueries($large) {
        height: 100%;
    }
}

.link-logo {
    align-self: center;
}

.menu {
    @include flex(column);

    &__link {
        @include font-source(14px, $primary, italic, Arial);
        @include flex(('a-i':'center'));
        width: fit-content; 
        min-height: 32px;
        padding-left: 40px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }

    &__item {
        margin: 5px 0 29px 3px;
    }

    &__link:hover {
        color: $black;
    }

    @include mediaQueries($large) {
        @include flex(row);
        padding: 22px 0;
    
        &__item {
            @include flex(('j-c':'center'));
            margin: 0 auto;
        }
    
        & &__link {
            background-position: 50% 0;
            padding: 45px 0 3px;
        }
    }

    @include mediaQueries($medium) {
        @include flex('wrap', ('a-c':'center'));

        & &__link {
            background: none;
            padding: 0;
        }
    }

    @include mediaQueries($small) {
        min-height: 40px;

        &__link {
            padding: 0 6px;
        }

        &__item {
            margin: auto;
            padding: 0 4px;
        }
    }
}