.tweet {
    @include margin('', bottom, 9px, true);

    &__title {
        @include font-source(12px, $black, normal, Verdana);
        margin-bottom: 9px;
        border-bottom: 1px dashed $gray;
        text-transform: uppercase;
        padding: 5px 0;
    }

    &__button {
        @include font-source(10px, $primary, italic, Arial);
        border: 1px solid $gray;
        border-radius: 5px;
        background-color: $white;
        background: url('../assets/icons/twitter-icon-button.svg') 7px 50% no-repeat;
        text-align: left;
        padding: 8px 5px 8px 29px;
        width: 100%;
        line-height: 12px;
    }

    &__text {   
        @include font-source(10px, $black, italic, Arial, 19px);
    }

    &__text {
        margin-bottom: 15px;
    }

    @include mediaQueries($large) {
        display: none;
    }
}