.message-list-wrapper {
    display: flex;
    padding-right: 7px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    flex: 1;
    overflow: auto;
}

.message-list {
    padding: 15px 10px;
    overflow: auto;
    width: 100%;
}

.message-date {
    @include flex(('a-i':center))
}

.message-date__border {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    flex: 1;
}
 
.message-date__item {
    @include font-source(13px, normal, #8D8D8D, 18px);
    
    margin: auto;
}

.daily-messages {
    padding-top: 20px;
    background-position-y: 20px;
}

.message {
    @include flex(('a-i':flex-start));

    background-repeat: no-repeat;
    padding: 10px 0;

    &__info {
        @include margin('.message__info', right, 8px);

        display: flex;
        font-size: 12px;
    }

    &__author {
        font-weight: bold;
    }

    &__author:hover {
        color: blue;
    }

    &__content {
        flex: 1;
    }

    &__text-wrapper {
        @include font-source(13px, normal, #000, 20px);

        display: flex;
    }

    &__link {
        display: block;
    }

    &__link,
    &__addressee {
        color: #3577EF;
    }

    &__img {
        border-radius: 5px;
    }

    &__addressee + div {
        display: inline;
    }

    &__addressee {
        margin-right: 5px;
    }

    &__addressee:hover {
        color: #000;
    }

    &__text {
        white-space: pre-wrap;
    }

    &:hover {
        cursor: pointer;
    }

    &_active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__button-list,
    .btn_answer {
        margin-left: auto;
    }

    &__btn {
        background-color: transparent;
        margin: 0 5px;
    }

    &__btn:hover {
        text-decoration: underline;
    }

    &__input {
        resize: none;
        border: none;
        flex: 1;
        margin-right: 10px;
        line-height: 20px;
        padding: 0 2px;
    }
}