@each $name in tastemakers, blog, list, camera, about {
    .link-#{$name} {
        background-image: url('../assets/icons/#{$name}-icon.svg');
    }
}

@each $name in twitter, fb, rss {
    .footer-#{$name} {
        background-image: url('../assets/icons/#{$name}-icon.svg');
    }
}

@each $name in twitter, fb, rss {
    .footer-#{$name}:hover {
        background-image: url('../assets/icons/#{$name}-icon-black.svg');
    }
}

.footer-fb, 
.footer-twitter, 
.footer-rss {
    width: 32px;	    
    height: 32px;	  
    margin: 0 2px;	   
}

.tweet__title_shadow {
    text-shadow: 0px 4px 4px rgba($black, 0.25);
}

.three-dots::after {
    content: '...';
}