.action-list {
  width: 300px;
}

.action {
  @include margin('', right, 20px, true);

  display: flex;
  padding: 10px 10px 10px 4px;

  .icon-wrapper {
    border: 2px solid #3A91C1;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  &__topic {
    @include margin('', right, 7px, true);
    @include flex(('a-i':center));
  }

  &__userName {
    @include font-source(12px, #24272C, Montserrat, 15px);
  }

  &__time {
    @include font-source(10px, #7D859A, Poppins, 14px);
  }

  &__text {
    @include font-source(10px, #555555, Poppins, 13px);
  }

  &__subtext {
    color: #F3477A;
    font-weight: bold;
  }
}