.banner {
    background: url('../assets/images/baner.svg') no-repeat;
    width: 100%;
    height: 444px;
    position: relative;

    &__title, 
    &__subtitle {
        align-self: flex-start;
        padding: 14px 20px;   
    }

    &__text {
        @include flex(column);
        position: absolute;
        bottom: 70px;
    }

    &__title {
        @include font-source(22px, $black, italic, Arial, 22px, 0.01em);
        background-color: $white;
    }

    &__subtitle {
        @include font-source(14px, $white, italic, Arial);
        background-color: $black;
    }

    @include mediaQueries($extra-large) {
        background: url('../assets/images/baner-m.png') no-repeat;
    }

    @include mediaQueries($medium) {
        background-size: cover;
        height: 353px;

        &__title, 
        &__subtitle {
            box-sizing: border-box;
            padding: 14px 8px;
            width: 100%;
        }

        &__text {
            bottom: 0;
            width: 100%;
        }

        &__title {
            box-shadow: 0px 4px 4px rgba($black, 0.25);
            opacity: 0.6;
        }
    }

    @include mediaQueries($between-medium-small)  {
        height: 63vw;
    }

    @include mediaQueries($small) {
        background-image: url('../assets/images/baner-sm.png') no-repeat;
        height: 78vw;
    }
}