.tab-container {
    cursor: pointer;
    display: flex;

    @include mediaQueries($medium) {
        display: none;
    }
}

.tab {
    background: $light;
    padding: 26px 0 22px 20px;
    width: 100%;

    &__subtitle {   
        @include font-source(10px, $primary, italic, Arial, 19px);
    }

    &__title {
        @include font-source(18px, $primary, normal, Arial);
    }

    &:hover {
        background-color: $light-active;
    }

    @include mediaQueries($extra-large) {
        font-size: 14px;
        padding: 10px 0;
        text-align: center;

        &__subtitle {
            display: none;
        }
    }
}