.close-profile {
    background: url('../../../assets/icons/close-profile.svg') center no-repeat;
    width: 10px;
    height: 16px;
    align-self: flex-end;
    margin-right: 25px;
}

.btn-message {
    color: #fff;
    padding: 3px 35px;
    flex: 1;
}

.btn-rectangle {
    background: url('../../../assets/icons/rectangle.svg') center no-repeat;
    width: 25px;
    height: 25px;
}

.btn-message,
.btn-rectangle {
    background-color: #3577EF;
    border-radius: 5px;
}