$black: #000;
$white: #FFF;
$gray: #E5E5E5;
$teal: #34ACA7;
$light-teal: #EFF8F7;
$gray-teal: #D9EFEC;
$light-green: rgb(51, 192, 114);
$shadow-button: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);