.navigation {
    width: 100%;

    @include _992 {
        height: 100%;
    }
}

.link-logo {
    align-self: center;
    justify-content: center;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;

    &__link {
        align-items: center;
        display: flex;
        width: fit-content; 
        min-height: 32px;
        padding-left: 40px;
        background-position: 0 50%;
        color: $teal;
        font: normal italic 14px Arial;
    }

    &__item {
        margin: 5px 0 29px 3px;
    }

    &__link:hover {
        color: $black;
    }

    @include _992 {
        flex-direction: row;
        padding: 22px 0;
    
        &__item {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    
        & &__link {
            background-position: 50% 0;
            padding: 45px 0 3px;
        }
    }

    @include _768 {
        align-content: center;
        flex-wrap: wrap;

        & &__link {
            background: none;
            padding: 0;
        }
    }

    @include _480 {
        min-height: 40px;

        &__link {
            padding: 0 6px;
        }

        &__item {
            margin: auto;
            padding: 0 4px;
        }
    }
}