.tweet {
    & > :nth-child(n), 
    &__title {
        margin-bottom: 9px;
    }

    &__title {
        border-bottom: 1px dashed $gray;
        font: normal 12px Verdana;
        text-transform: uppercase;
        padding: 5px 0;
    }

    &__button {
        border: 1px solid $gray;
        border-radius: 5px;
        background-color: $white;
        background: url('../assets/icons/twitter-icon-button.svg') 7px 50% no-repeat;
        text-align: left;
        padding: 8px 5px 8px 29px;
        width: 100%;
        line-height: 12px;
        font: italic 10px Arial;
        color: $teal;
    }

    &__text {   
        font: italic 10px Arial;
        line-height: 19px;
    }

    &__text {
        margin-bottom: 15px;
    }

    @include _992 {
        display: none;
    }
}