@mixin _1176 {
    @media (max-width: 1176px){
        @content;
    }
}
@mixin _992 {
    @media (max-width: 992px){
        @content;
    }
}
@mixin _768 {
    @media (max-width: 768px){
        @content;
    }
}
@mixin _560 {
    @media (max-width: 560px){
        @content;
    }
}
@mixin _480 {
    @media (max-width: 480px){
        @content;
    }
}
@mixin _360{
    @media (max-width: 360px){
        @content;
    }
}

@mixin font-source($size: false, $colour: false, $style: false, $family: false, $lh: false, $lp: false) {
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $style { font-style: $style; }
    @if $family { font-family: $family;}
    @if $lh { line-height: $lh; }
    @if $lp { letter-spacing: $lp;}
  }