.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding-top: 45px;

    &__content {
        display: flex;
    }

    &__content > :nth-child(n) {
        margin-right: 44px;
    }

    &__content > :last-child {
        margin-right: 0;
    }

    &__content {
        align-items: flex-start;
        margin-bottom: 35px;
        width: 100%;
    }

    .main {
        flex: 1;
        width: 100%;
    }

    .slider {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1176px) {
    .wrapper {
        max-width: 896px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        max-width: 710px;
        margin: auto;
        padding-top: 0;

        &__content {
            display: block;
        }

        &__content > :nth-child(n) {
            margin-bottom: 31px;
            margin-right: 0;
        }

        &__content > :last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 88%;

        & &__content > :nth-child(n) {
            margin-bottom: 20px;
        }

        & &__content > :last-child {
            margin-bottom: 0;
        }

        &__content {
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;

        & &__content > :nth-child(n) {
            margin-bottom: 10px;
        }

        & &__content > :last-child {
            margin-bottom: 0;
        }

        &__content {
            margin-bottom: 0;
        }
    }
}