.footer {
    display: flex;
    border-top: 2px solid $gray;
    justify-content: space-between;
    padding: 22px 0 33px;
    width: 100%;

    &__nav, 
    &__icons {
        display: flex;
        flex-wrap: wrap;
    }

    &__info > :nth-child(n) {
        margin-bottom: 5px;
    } 

    &__info > :last-child {
        margin-bottom: 0;
    }
 
    &__nav > :nth-child(n) {
        background: url('../assets/images/separator.svg') no-repeat;
    }

    &__nav > :first-child {
        background: none;
    }

    &__info {
        @include font-source(12px, $gray, normal, Arial, 12px, -0.02em);
    }

    &__link {
        @include font-source(12px, $teal, normal, Arial);
        
        display: block;
        margin: 0 4px;
    }

    &__link:hover{
        color: $black;
    }

    @include _992 {
        padding: 22px 0;
    }

    @include _480 {
        margin: 0 6%;
        padding: 22px 0;
    }

    @include _360 {
        flex-direction: column;
        align-items: center;

        & > :nth-child(n) {
            margin-bottom: 10px;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }
}