.footer {
    &__info, &__link, &__copyright {
        font: normal 12px Arial;
        letter-spacing: -0.02em;
    }

    &__nav, &__icons {
        display: flex;
        flex-wrap: wrap;
    }

    &__info > :nth-child(n) {
        margin-bottom: 5px;
    } 

    &__info > :last-child {
        margin-bottom: 0;
    }

    &__info {
        color: $gray;
    }
 
    &__nav > :nth-child(n) {
        background: url('../assets/images/separator.svg') no-repeat;
    }

    &__nav > :first-child {
        background: none;
    }

    &__link {
        margin: 0 4px;
        color: $teal;
        display: block;
    }

    &__link:hover{
        color: $black;
    }
}