.subscribe  {
    display: flex;
    margin-bottom: 30px;
    padding: 8px 18px 8px 66px;
    border-bottom: 1px dashed #E5E5E5;
    border-top: 1px dashed #E5E5E5;
    align-items: center;
    justify-content: space-between;
    background: url('../assets/icons/mail-icon.svg') 18px 10px no-repeat;

    & > :nth-child(n),
    &__form > :nth-child(n) {
        margin-left: 18px;
    }

    & > :first-child, &__form > :first-child {
        margin-left: 0;
    }

    &__text {
        font: normal italic 14px Arial;
        line-height: 16px;
    }

    &__button, &__input-text {
        padding: 5px 0;
        font: normal 10px Arial;
    }

    &__button {
        width: 80px;
        background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
        border: 1px solid #E5E5E5;
        border-radius: 2px;
    }

    &__input-text {
        width: 152px;
        border: 1px solid #E5E5E5;
        border-radius: 0;
        padding-left: 6px;
    }

    &__form {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .subscribe {
        flex-direction: column;
        padding: 8px 18px 0 18px;

        &__text {
            padding-left: 48px;
        }

        & > :nth-child(n) {
            margin-left: 0;
            margin-bottom: 15px;
        }

        &__form > :nth-child(n) {
            margin-left: 36px;
        }

        & > :first-child, &__form > :first-child {
            margin-left: 0;
        }

        &__form {
            width: 100%;
        }

        &__input-text {
            flex: 1;
        }
    }
}

@media screen and (max-width: 480px) {
    .subscribe {
        flex-direction: column;
        padding-right: 10%;

        &__input-text {
            max-width: 211px;
            width: 100%;
        }
    }
}