* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.subscribe__input-text::placeholder { 
    color: #E5E5E5;
    opacity: 1;
}