.tab-container {
    cursor: pointer;
    display: flex;

    @include _768 {
        display: none;
    }
}

.tab {
    background: $light-teal;
    padding: 26px 0 22px 20px;
    width: 100%;

    &__subtitle {   
        @include font-source(10px, $teal, italic, Arial, 19px);
    }

    &__title {
        @include font-source(18px, $teal, normal, Arial);
    }

    &:hover {
        background-color: $gray-teal;
    }

    @include _1176 {
        font-size: 14px;
        padding: 10px 0;
        text-align: center;

        &__subtitle {
            display: none;
        }
    }
}