.footer {
    @include margin(__info, bottom, 5px, true);
    display: flex;
    border-top: 2px solid $gray;
    justify-content: space-between;
    padding: 22px 0 33px;
    width: 100%;

    &__nav, 
    &__icons {
        display: flex;
        flex-wrap: wrap;
    }
 
    &__nav > :nth-child(n) {
        background: url('../assets/images/separator.svg') no-repeat;
        padding: 0 4px;
    }

    &__nav > :first-child {
        background: none;
    }

    &__info {
        @include font-source(12px, $gray, normal, Arial, 12px, -0.02em);
    }

    &__link {
        @include font-source(12px, $primary, normal, Arial);
        display: block;
    }

    &__link:hover{
        color: $black;
    }

    @include mediaQueries($large) {
        padding: 22px 0;
    }

    @include mediaQueries($small) {
        margin: 0 6%;
        padding: 22px 0;
    }

    @include mediaQueries($extra-small) {
        @include margin('', bottom, 10px, true);
        flex-direction: column;
        align-items: center;
    }
}