.search {
    background: url('../../../assets/icons/search.svg')  center no-repeat;
    height: 34px;
    width: 35px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);   
    border-radius: 0 3px 3px 0; 
    border-left: none;
}

.notifications {
    width: 14px;
    height: 14px;
    background: url('../../../assets/icons/notifications.svg');
}

.notifications::after {
    content: '';
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #FD4948;
    display: block;
    left: 15px;
    top: -5px;
    border-radius: 50%;
}

.else-btn {
    background: url('../../../assets/icons/else-btn.svg') center no-repeat;
    width: 5px;
    height: 16px;
}

.bookmark {
    background: url('../../../assets/icons/bookmark.svg') center no-repeat;
    width: 15px;
    height: 15px;
}
