.main-wrapper {
  @include margin('', right, 3%, true);

  display: flex;
  overflow: hidden;
  flex: 1;
}

.main {
  @include margin('', bottom, 40px, true);
  @include flex(column);
  
  width: 100%;
  padding-top: 30px;
  flex: 1;

  &__header {
    @include flex(('a-i':center));
    @include margin('', right, 18px, true);
  }

  &__title {
    @include font-source(36px, #1D262C, Poppins, 54px, false, bold);
  }

  .todo-number {
    color: #F3477A;
  }

  &__btn,
  .modal__btn {
    background: url('src/assets/icons/addBtn.svg') 30px center no-repeat;
    padding: 8px 30px 8px 50px;
  }

  &__btn,
  .modal__btn,
  .modal__btn_cancel {
    @include font-source(12px, #fff, Poppins);

    background-color: #884CB2;
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
  }

  .modal__btn_cancel {
    padding: 8px 30px;
  }
}