/* menu */

.navigation {
    width: 100%;
}
 
.menu, .menu__link {
    display: flex;
}

.menu {
    flex-direction: column;
}

.link-logo {
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.menu__link {
    font: normal italic 14px Arial;
    line-height: 14px;
    align-items: center;
    width: fit-content; 
    min-height: 32px;
    padding-left: 40px;
    color: #34ACA7;
}

.menu__item {
    margin: 5px 0 29px 3px;
}

/* tweet__item */

.tweet > :not(.tweet :last-child), 
.tweet__title {
    margin-bottom: 9px;
}

.tweet__title {
    font: normal 12px Verdana;
    line-height: 12px;
    text-transform: uppercase;
    border-bottom: 1px dashed #E5E5E5;
    color: #000;
    padding: 5px 0;
}

.tweet__button {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 100%;
    padding: 8px 5px 8px 29px;
    line-height: 12px;
    background-color:	#FFF;
    background: url('../assets/icons/twitter-icon.svg') 7px 50% no-repeat;
    font: normal italic 10px Arial;
    color: #34ACA7;
    text-align: left;
}

.tweet__text, .tab__subtitle {   
    font: normal italic 10px Arial;
    line-height: 19px;
}

.tweet__text {
    color: #000;
    margin-bottom: 15px;
}

/* banner */

.banner__text, .tab-container, .subscribe__form, .subscribe, .card-container, .card  {
    display: flex;
}

.banner {
    background: url('../assets/images/baner.svg') no-repeat;
    width: 100%;
    height: 444px;
    position: relative;
    font: normal italic 14px Arial;
}

.banner__text {
    flex-direction: column;
    position: absolute;
    bottom: 70px;
}

.banner__title, .banner__subtitle {
    padding: 14px 20px;
    width: fit-content;
}

.banner__title {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #000;
    background: #FFFFFF;
}

.banner__subtitle {
    background: #000;
    line-height: 14px;
    color: #FFFFFF;
}

/* tab-container */

.tab__title, .tab__subtitle, .card__title, .card__link {
    color: #34ACA7;
}

.three-dots::after {
    content: '...';
}

.tab-container {
    cursor: pointer;
}

.slider, .subscribe {
    margin-bottom: 30px;
}

.tab {
    width: 100%;
    padding: 26px 0 22px 20px;
    background: #EFF8F7;
}

.tab__title {
    font: normal 18px Arial;
    line-height: 18px;
}

/* subscribe */

.subscribe {
    padding: 8px 18px 8px 66px;
    border-bottom: 1px dashed #E5E5E5;
    border-top: 1px dashed #E5E5E5;
    align-items: center;
    justify-content: space-between;
    background: url('../assets/icons/mail-icon.svg') 18px 10px no-repeat;
}

.subscribe > :not(.subscribe :first-child) {
    margin-left: 18px;
}

.subscribe__text {
    font: normal italic 14px Arial;
    line-height: 16px;
    color: #000000;
}

.subscribe__button, .subscribe__input-text {
    padding: 5px 0;
    font: normal 10px Arial;
}

.subscribe__button {
    width: 80px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.subscribe__input-text {
    width: 152px;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    padding-left: 6px;
}

.subscribe__form :not(.subscribe__form :first-child){
    margin-left: 18px; 
}

/* card-container */

.card-container {
    flex-wrap: wrap;
}

.card-container > :nth-child(n) {
    margin-bottom: 14px;
}

.card-container, .card {
    justify-content: space-between;
    height: fit-content;
}

.card {
    width: min-content;
    flex-direction: column;
}

.card > :not(.card :last-child) {
    margin-bottom: 10px;
}

.card__img {
    border: 1px solid #E5E5E5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    display: block;
    width: 205px;
}

.card {
    font: normal 14px Arial;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card__title {
    font-size: 16px;
    line-height: 21px;
}

.card__footer {
    color: #E5E5E5;
}

/* footer elements */

.footer__nav, .footer__icons {
    flex-wrap: wrap;
}

.footer__info > :not(.footer__info :first-child) {
    margin-top: 5px;
} 

.footer__info, .footer__link, .footer__copyright {
    font: normal 12px Arial;
    line-height: 12px;
    letter-spacing: -0.02em;
}

.footer__info {
    color: #E5E5E5;
}

.footer__nav, .footer__icons {
    display: flex;
}
 
.footer__nav :not(.footer__nav :first-child) {
    background: url('../assets/images/separator.svg') no-repeat;
}

.footer__link {
    margin: 0 4px;
    color: #34ACA7;
}

@media screen and (max-width: 1176px) {
    .banner {
        background: url('../assets/images/baner-m.png') no-repeat;
    }

    .card__img {
        width: 159px;
    }

    .tab__subtitle {
        display: none;
    }

    .tab {
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        flex-direction: row;
        min-height: 116px;
        padding: 22px 0;
    }

    .menu__item {
        margin: auto;
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .menu__link {
        padding: 45px 0 3px;
        background-position: 50% 0;
    }

    .tweet {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        flex-wrap: wrap;
        align-content: center;
    }

    .menu__link {
        padding: 0;
        background: none;
    }

    .menu__item {
        width: auto;
    }

    .banner {
        height: 353px;
        background-size: cover;
    }

    .banner__text {
        bottom: 0;
    }

    .card__img {
        width: 256px;
    }

    .tab-container {
        display: none;
    }

    .subscribe {
        flex-direction: column;
        padding: 8px 18px 0 18px;
    }

    .subscribe__text {
        padding-left: 48px;
    }

    .subscribe > :not(.subscribe :first-child) {
        margin-left: 0;
    }

    .subscribe__form :not(.subscribe__form :first-child) {
        margin-left: 36px;
    }

    .subscribe__form {
        width: 100%;
    }

    .subscribe__input-text {
        flex: 1;
    }
    
    .subscribe :nth-child(n) {
        margin-bottom: 15px;
    }

    .banner__title {
        background: #FFFFFF;
        opacity: 0.6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .banner__text {
        width: 100%;
    }

    .banner__title, .banner__subtitle {
        padding: 14px 8px;
        width: auto;
    }
}

@media screen and (max-width: 560px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 78%;
    }

    .banner {
        height: 63vw;
    }

    .card__img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .menu__link {
        padding: 0 3px;
        background: none;
    }

    .menu {
        min-height: 40px;
    }

    .banner {
        background: url('../assets/images/baner-sm.png') no-repeat;
        background-size: cover;
        height: 78vw;
    }

    .subscribe {
        flex-direction: column;
        padding-right: 47px;
    }

    .subscribe__input-text {
        max-width: 211px;
        width: 100%;
    }
}